{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Welcome {{ user }}</h3>
    <div class="box"><a href="/next" style="color: green; text-decoration: underline;">Skip track</a></div>
    <table class="table" style="background-color: #fff; border-radius: 6px; box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%); color: #4a4a4a;  padding: 1.25rem; border-collapse: separate; margin-left: auto; margin-right: auto;">
        <tr>
            <th>Device Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        {% for i in range(0, len) %}
        <tr>
            <td>{{ devices[i].name }}</td>
            <td>{{ devices[i].type }}</td>
            <td><a href="/admin?device={{ devices[i].id }}" style="color: green; text-decoration: underline;">Select</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if current_user.super_admin %}
    <table class="table" style="background-color: #fff; border-radius: 6px; box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%); color: #4a4a4a;  padding: 1.25rem; border-collapse: separate; margin-left: auto; margin-right: auto;">
        <tr>
            <th>Username</th>
            <th>Super admin</th>
            <th>Action</th>
        </tr>
        {% for i in range(0, len_users) %}
        <tr>
            <td>{{ users[i].username }}</td>
            <td>{{ users[i].super_admin }}</td>
            <td><a href="/account?username={{ users[i].username }}" style="color: green; text-decoration: underline;">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}