{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Add music to queue</h3>
  <div class="box">
      <form method="POST" action="/list">
          <div class="field">
              <div class="control">
                  <input class="input is-large" type="text" name="music" placeholder="Music title" autofocus="">
              </div>
          </div>
          <button class="button is-block is-info is-large is-fullwidth">Search</button>
      </form>
  </div>
</div>
{% endblock %}
