{% extends "base.html" %}

{% block content %}
<h3 class="title">Queue</h3>
<table class="table" style="background-color: #fff; border-radius: 6px; box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%); color: #4a4a4a;  padding: 1.25rem; border-collapse: separate; margin-left: auto; margin-right: auto;">
    <tr>
        <th>Image</th>
        <th>Track name</th>
        <th>Artist</th>
        <th>Album</th>
        {% if current_user.is_authenticated %}
        <th>Action</th>
        {% endif %}
    </tr>
    {% for i in range(0, len) %}
    <tr>
        <td><figure class="image is-128x128" ><img src="{{ tracks[i].album_image }}" style="border: 1px solid rgb(0, 0, 0);"></figure></td>
        <td>{{ tracks[i].track }}</td>
        <td>{{ tracks[i].artist }}</td>
        <td>{{ tracks[i].album }}</td>
        {% if current_user.is_authenticated %}
        <td><a href="/remove?uri={{ tracks[i].uri }}" style="color: red; text-decoration: underline;">Remove</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}